/* ==========================================================================
   Display utilities
   ========================================================================== */

/**
 * Text utilities in addition to SUIT CSS display utilities:
 * https://github.com/suitcss/utils-display
 */

/* Hide utility a la Pattern Lab*/

@media screen and (max-width: 22em) {
  .u-isHiddenVisuallySmall {
    display: none;
  }
}

@media screen and (min-width: 22em) and (max-width: 32em) {
  .u-isHiddenVisuallyMedium {
    display: none;
  }
}

@media screen and (min-width: 32em) {
  .u-isHiddenVisuallyLarge {
    display: none;
  }
}
