/* ==========================================================================
   Article Thumb
   ========================================================================== */

/**
 * Thumbnail view of an article, eg on home page
 */

.ArticleThumb {
  margin: 0 2.5% 1rem;
}

.ArticleThumb-desc {
  color: var(--grey_desc);
  font-size: 0.9375rem;
}

.ArticleThumb-date {
  color: var(--grey_desc);
  font-family: MuseoSans-300;
  font-size: 0.8125rem;
  font-style: italic;
  margin-bottom: 0;
}

.ArticleThumb-img {
  border: 1px solid var(--grey_border);
}

.ArticleThumb-img:hover {
  opacity: 0.7;
}

