# Don't version the node_modules
#make sure to install with `npm install`
node_modules

# Ditto don't version the bower_components.
# install components with `bower install`
# Altho there is some debate about this: http://addyosmani.com/blog/checking-in-front-end-dependencies/
# Commenting it out, as GreenGeeks doesn't do that NodeJS thing.
# bower_components
._*
.*.swp
.DS_Store
.sass-cache

# Ignore proprietary museo sans font
museo
