{% extends "styleguide_base.html" %}
{% block content %}

<h1 class="sg-Heading">SUIT CSS: Listings</h1>

<ul>
    <li><b><a href="/frontend/atom/utilities/display">Display</a></b>
        <ul>
            <li><code>u-block</code></li>
            <li><code>u-inlineBlock</code></li>
            <li><code>u-inline</code></li>
            <li><code>u-tableCell</code></li>
        </ul>
    </li>
    <li><b><a href="http://local.blackwellstudy.net/frontend/atom/utilities/layout">Layout</a></b>
        <ul>
            <li><code>u-cf</code></li>
            <li><code>u-nbfc</code></li>
            <li><code>u-nbfcAlt</code></li>
            <li><code>u-pullLeft</code></li>
            <li><code>u-pullRight</code></li>
            <li><code>u-objLeft</code></li>
            <li><code>u-objRight</code></li>
            <li><code>u-alignTop</code></li>
            <li><code>u-alignMiddle</code></li>
            <li><code>u-alignBaseline</code></li>
            <li><code>u-alignBottom</code></li>
        </ul>
    </li>
    <li><b><a href="http://local.blackwellstudy.net/frontend/atom/utilities/link">Link</a></b>
        <ul>
            <li><code>u-linkBlock</code></li>
            <li><code>u-linkClean</code></li>
            <li><code>u-linkComplex</code></li>
            <li><code>u-linkComplexTarget</code></li>
            <li><code>u-linkPseudo</code></li>
        </ul>
    </li>
    <li><b><a href="http://local.blackwellstudy.net/frontend/atom/utilities/state">State</a></b>
        <ul>
            <li><code>u-isHidden</code></li>
            <li><code>u-isHiddenVisually</code></li>
            <li><code>u-isVisible</code></li>
            <li><code>u-isInvisible</code></li>
            <li><code>u-isActionable</code></li>
            <li><code>u-isDraggable</code></li>
            <li><code>u-isDisabled</code></li>
        </ul>
    </li>
    <li><b><a href="http://local.blackwellstudy.net/frontend/atom/utilities/text">Text</a></b>
        <ul>
            <li><code>u-textBreak</code></li>
            <li><code>u-textCenter</code></li>
            <li><code>u-textLeft</code></li>
            <li><code>u-textRight</code></li>
            <li><code>u-textInheritColor</code></li>
            <li><code>u-textNoWrap</code></li>
            <li><code>u-textTruncate</code></li>
        </ul>
    </li>
</ul>



{% endblock %}
