/* ==========================================================================
   Global header
   ========================================================================== */

/**
 * The header for the whole of the site
 */
.Header-brand {
  background-color: var(blue);
  padding: 0.6875rem 0.5625rem;
}

.Header-logo {
  float: left;
  width: 79%;
}

.Header-menu {
  float: left;
  display: block;
  margin: -0.3rem 0.8125rem 0 0;
}

@media screen and (min-width: 41.25em) {
  .Header-menu {
    display: none;
  }
}

.Header-contact {
  background-color: var(sage_21);
  font-size: 0.8rem;
  line-height: 1.6;
  padding: 0.6875rem 0.5625rem 0.5rem;
}

@media screen and (min-wdith: 21em) {
  .Header-menu {
    font-size: 0.9rem;
  }
}

.Header-tel {
  position: absolute;
  right: 5%;
  top: 0.4%;
}
