/* ==========================================================================
   Global header
   ========================================================================== */

/**
 * The header for the whole of the site
 */

.Header-brand {
  align-items: stretch;
  background-color: var(blue);
  display: table;
  padding: 0.6875rem 4% 0.6875rem 2.34375%;
}

.Header-logo {
  display: table-cell;
  width: 80%;
}

.Header-tel {
  display: table-cell;
  padding: 2% 0 0 1rem;
  vertical-align: top;
  width: 14%;
}

.Header-menu {
  float: left;
  display: block;
  margin: -0.3rem 0.8125rem 0 0;
}

@media screen and (min-width: 41.25em) {
  .Header-menu {
    display: none;
  }
}

.Header-contact {
  background-color: var(sage_21);
  font-size: 0.8rem;
  line-height: 1.6;
  padding: 0.6875rem 0.5625rem 0.5rem;
}

@media screen and (min-wdith: 21em) {
  .Header-contact {
    font-size: 0.9rem;
  }
}
