/* ==========================================================================
   Global header
   ========================================================================== */

/**
 * The header for the whole of the site
 */

.Header-brand {
  align-items: stretch;
  border-top: 5px solid var(--buff);
  background-color: var(--blue);
  padding: 0.6875rem 4% 0.6875rem 2.34375%;
  width: 100%;
}

.page-studios .Header-brand     { border-color: var(--slate); }
.page-exhibitions .Header-brand { border-color: var(--purple); }
.page-cafe .Header-brand        { border-color: var(--green); }
.page-courses .Header-brand     { border-color: var(--orange); }

.Header-brandAddress {
  display: none;
}

@media screen and (min-width: 46em) {
  .Header-brandAddress {
    color: var(--slate_bg);
    display: block;
    float: left;
    margin: 0.5rem 0 0 7%;
    font-size: 0.8rem;
    width: 180px;
  }
  .Header-brandAddress a:link,
  .Header-brandAddress a:visited {
    color: var(--slate_bg);
  }
}

.Header-logo {
  display: block;
  float: left;
  max-width: 450px;
}

.Header-contact {
  background-color: var(--sage_nav);
  display: table;
  font-size: 0.8rem;
  padding: 0.3rem 2.34375%;
  width: 100%;
}

@media screen and (min-width: 46em) {
  .Header-contact {
    display: none;
  }
}

.Header-menu {
  display: table-cell;
  vertical-align: middle;
  width: 36px;
}

@media screen and (min-width: 41.25em) {
  .Header-menu {
    display: none;
  }
}

.Header-address {
  display: table-cell;
  padding-top: 0.25rem;
  text-align: center;
  vertical-align: middle;
}

@media screen and (min-width: 21em) {
  .Header-address {
  }
}

@media screen and (min-width: 24em) {
  .Header-address {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 27em) {
  .Header-address {
    font-size: 1rem;
  }
}

@media screen and (min-width: 34em) {
  .Header-address {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 41.25em) {
  .Header-address {
    font-size: 1.1rem;
    padding: 0.4rem 0;
    text-align: left;
    vertical-align: middle;
  }
}

.Header-tel {
  display: table-cell;
  vertical-align: middle;
  width: 36px;
}

@media screen and (min-width: 41.25em) {
  .Header-tel {
    display: none;
  }
}
