/* ==========================================================================
   Global header
   ========================================================================== */

/**
 * The header for the whole of the site
 */

.Header-brand {
  align-items: stretch;
  background-color: var(--bluedeep);
  display: table;
  padding: 0.6875rem 4% 0.6875rem 2.34375%;
  width: 100%;
}

.Header-logo {
  display: table-cell;
  width: 80%;
}

.Header-contact {
  background-color: var(--sage_nav);
  display: table;
  font-size: 0.8rem;
  padding: 0.3rem 2.34375%;
  width: 100%;
}

.Header-menu {
  display: table-cell;
  vertical-align: middle;
  width: 36px;
}

@media screen and (min-width: 41.25em) {
  .Header-menu {
    display: none;
  }
}

.Header-address {
  display: table-cell;
  padding-top: 0.25rem;
  text-align: center;
  vertical-align: middle;
}

@media screen and (min-width: 21em) {
  .Header-address {
  }
}

@media screen and (min-width: 24em) {
  .Header-address {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 27em) {
  .Header-address {
    font-size: 1rem;
  }
}

@media screen and (min-width: 34em) {
  .Header-address {
    font-size: 1.1rem;
  }
}



.Header-tel {
  display: table-cell;
  vertical-align: middle;
  width: 36px;
}
