.header__brand {
  background-color: $blue;
  @extend .cf;
  @include rem ('padding',11px 9px);
}
.header__logo {
  float: left;
  width: 79%;
}
.header__menu {
  float: right;
}
.header__contact {
  background-color: $sage_21;
  @include rem ('padding',11px 9px);
}