/* ==========================================================================
   Logos of the sponsors
   ========================================================================== */

/**
 * Sponsors & supporters logos, used as background images
 */

.Logos {
  background-image: url(../img/logos.svg);
  background-repeat: no-repeat;
  display: inline-block;
  height: 68px;
  line-height: 0;
  vertical-align: bottom;
}

.Logos--artsCouncil {
  background-position: 0 0;
  width: 253px;
}

.Logos--kcc {
  background-position: -253px 0;
  width: 109px;
}

.Logos--swale {
  background-position: -362px 0;
  width: 190px;
}

.Logos--nfasp {
  background-position: -553px 0;
  width: 62px;
}
