/* ==========================================================================
   Icon
   ========================================================================== */

/**
 * SVG icons with PNG fallback
 */

.Icon {
  background: url(/dist/assets/img/icons/sprite.svg) no-repeat;
  display: inline-block;
  line-height: 0;
  vertical-align: bottom;
}
.Icon--22 {
  height: 26px;
  width: 26px;
}
.Icon--baseline {
  vertical-align: baseline;
}

/* 22px */
.Icon--22--article  { background-position:    0   0; }
.Icon--22--event    { background-position:  -22px 0; }
.Icon--22--comment  { background-position:  -44px 0; }
