/* ==========================================================================
   Icon
   ========================================================================== */

/**
 * SVG icons with PNG fallback
 */

.Icon {
  background-image: url(../img/icon.svg);
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 0;
  vertical-align: bottom;
}

.lt-ie9 .Icon {
  background-image: url(../img/icon.png);
}

/* 36 */
.Icon--36 {
  height: 36px;
  width: 36px;
}

.Icon--36--menu           { background-position:    0    0; }
.Icon--36--tel            { background-position:  -36px  0; }
.Icon--36--twitter        { background-position:  -72px  0; }
.Icon--36--facebook       { background-position: -108px  0; }
.Icon--36--google         { background-position: -144px  0; }

.Icon--36--menu:hover     { background-position:    0   -36px; }
.Icon--36--tel:hover      { background-position:  -36px -36px; }
.Icon--36--twitter:hover  { background-position:  -72px -36px; }
.Icon--36--facebook:hover { background-position: -108px -36px; }
.Icon--36--google:hover   { background-position: -144px -36px; }
