/* ==========================================================================
   Icon
   ========================================================================== */

/**
 * SVG icons with PNG fallback
 */

.Icon {
  background-image: url(../img/icon.svg);
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 0;
  vertical-align: bottom;
}

.lt-ie9 .Icon {
  background-image: url(dist/assets/img/icon.png);
}


/* 36 */
.Icon--36 {
  height: 36px;
  width: 36px;
}

.Icon--36--compass { background-position:    0   0; }
.Icon--36--menu    { background-position:  -36px 0; }

.Icon--36--compass:hover { background-position:    0   -36px; }
.Icon--36--menu:hover    { background-position:  -36px -36px; }
