/* Shame. Put shameful CSS in here. Refactor later. */
/* http://csswizardry.com/2013/04/shame-css/ */

@media screen and (min-width: 38em) {
  .test {
    display: flex;
    flex-wrap: wrap;
  }

  .test > * {
    flex: 1;
  }

  .noflex {
    display: flex;
    flex-wrap: wrap;
  }

.noflex > * {
  flex: 1;
}

}

