/* Shame. Put shameful CSS in here. Refactor later. */


/* Overriding some horrible admin bar CSS. Track it down, remove it. */
html {
  margin-top: 0 !important;
}

.post-45 .article__head {
  display: none; /* just for wireframes home */
}

#wrap {
  min-width: 320px;
}


.u-RespBreak {
  display: block;
}

@media screen and (min-width: 30em) {
  .u-RespBreak {
    display: none;
  }
}


.debug-Outline {
  outline: 1px solid red;
}

/* ==========================================================================
   Link light
   ========================================================================== */

/**
 * A lighter, less obtrusive link style for text
 */

.LinkLight,
.LinkLight:hover  {
  color: var(slate_73);
}

.LinkOpacity:hover {
  opacity: 0.7;
}

