/* Shame. Put shameful CSS in here. Refactor later. */


/* Overriding some horrible admin bar CSS. Track it down, remove it. */
html {
  margin-top: 0 !important;
}

.post-45 .article__head {
  display: none; /* just for wireframes home */
}

#wrap {
  min-width: 320px;
}


.u-RespBreak {
  display: block;
}

@media screen and (min-width: 25em) {
  .u-RespBreak {
    display: none;
  }
}


.debug-Outline {
  outline: 1px solid red;
}

/* ==========================================================================
   Link light
   ========================================================================== */

/**
 * A lighter, less obtrusive link style for text
 */

.LinkLight,
.LinkLight:hover  {
  color: var(slate_73);
}

.LinkOpacity:hover {
  opacity: 0.7;
}

/* ==========================================================================
   Listing
   ========================================================================== */

/**
 * Alternate listing list
 */

.Listing {
  list-style-type: none;
  margin: 0 2.34375% 1rem 2.34375%;
  padding: 0;
}

.Listing > * {
margin-bottom: 1rem;
}

/* ==========================================================================
   Section
   ========================================================================== */

/**
 * List of sections on home page
 */

.Section  p {
  color: var(k80);
  font-size: 0.9em;
  margin-bottom: 1rem;
}

.Section-list {
  margin: 0 2.34375%;
  padding: 0;
}

.Section-image {
  /*border: 1px solid var(k34);*/
  /*float: left;*/
  /*height: 69px;*/
  /*margin-right: 2.34375%;*/
  /*width: 25.6940523%;*/
  margin-bottom: 0.5rem;
}

/* ==========================================================================
   Nav Too
   ========================================================================== */

/**
 * Secondary navigation, located in the footer regions
 */

.NavToo {
  background-color: var(sage_21);
  padding: 0.5rem 0;
}

.NavToo .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center
}

.NavToo .menu > * {
  display: inline-block;
}

.NavToo .menu > * a {
  color: var(slate_73);
  display: block;
  font-family: MuseoSans-300;
  letter-spacing: 0.2rem;
  line-height: 1;
  padding: 0.5rem 0.8rem 0.3rem;
  text-decoration: none;
  text-transform: uppercase;
}

.NavToo .menu > * a:hover,
.NavToo .menu > * a:active {
  background-color: var(slate_73);
  color: white;
}
