/* ==========================================================================
   Myth CSS variables
   ========================================================================== */

:root {
  /**
   * Colors
   */

  /* Brand colors */
  --blue:     #22224c;
  --hilite:   #0389ff;
  --orange:   #cb4b16;


  --bluetint: #323254;

  /*--slate_80: #31495f; */
  --slate_73: #455d72;
  --slate_69: #53687c;
  --slate_d: #677a8b;

  --slate_bg:  #798a99;

  --slate_mid: #576d80;

  --sage_30:  #bfc4a4;
  --sage_21:  #d1d8bf;

  --link_lightest: #b2e0ff;

  /* TODO: sort out sensible names */
  --sage_dark: #acb194;
  --sage_darker: #979a81;
  --sage_darkerstill: #8f937b;

  --background: #fff;

  /* Warm greys */
  --k94:          #141619;
  --k80:          #434547;
  --grey_text:    #4c5259;
  --grey_support: #b4babf;
  --grey_wash:    #f3f5f5;
  --k61:          #737c86;
  --k50:          #8f97a0;
  --k34:          #b5bbc1;


  /* Additional colors */
  --link:    var(--hilite);
  --visited: purple;

  /**
   * Type
   */
  --head: MuseoSans-300;
  --body: MuseoSans-500;


  /**
   * Base variables, adapated from Suit CSS
   * /

  /* Base */
  --base_background:     white;
  --base_color:          var(--grey_text);
  --base_fontfamily:     var(--body);
  --base_fontsize:       16px;
  --base_lineheight:     1.4;
  --base_linkcolor:      var(--link);
  --base_linkcolorhover: var(--link);

  /**
   * Breakpoints, use rework-breakpoints
   */

  /*--small:   20em;  320px */
  /*--medium:  36em;  576px */
  /*--large:   62em;  992px */
  /*--x-large: 77em; 1232px */
}
