/* ==========================================================================
   Myth CSS variables
   ========================================================================== */

:root {
  /**
   * Colors
   */

  /* Brand colors */
  var-blue:     #22224c;
  var-hilite:   #0389ff;
  var-orange:   #cb4b16;
  /* var-slate_80: #31495f; */
  var-slate_73: #455d72;
  var-slate_69: #53687c;

  var-sage_30:  #bfc4a4;
  var-sage_21:  #d1d8bf;

  var-background: white;

  /* Warm greys */
  var-k94:      #141619;
  var-grey_text:    #24272c;
  var-grey_support: #b4babf;
  var-grey_wash: #f3f5f5;
  var-k76:      #4c5259;
  var-k61:      #737c86;
  var-k50:      #8f97a0;
  var-k34:      #b5bbc1;

  /* Additional colors */
  var-link:    var(hilite);
  var-visited: purple;

  /**
   * Type
   */
  var-head: sans-serif;
  var-body: MuseoSans-500;


  /**
   * Base variables, adapated from Suit CSS
   * /

  /* Base */
  var-base_background:     var(background);
  var-base_color:          var(grey_text);
  var-base_fontfamily:     var(body);
  var-base_fontsize:       16px;
  var-base_lineheight:     1.4;
  var-base_linkcolor:      var(link);
  var-base_linkcolorhover: var(visited);

  /**
   * Breakpoints, use rework-breakpoints
   */

  /* var-small:   20em;  320px */
  /* var-medium:  36em;  576px */
  /* var-large:   62em;  992px */
  /* var-x-large: 77em; 1232px */
}
