/* ==========================================================================
   Myth CSS variables
   ========================================================================== */

:root {
  /**
   * Colors
   */

  /* Brand colors */
  --bluedeep:       #22224c;
  --orange:         #c96834;

  /* Brand tints */
  --bluedeep_tint:  #323254;

  --slate_link:     #455d72;
  --slate_head:     #576d80;
  --slate_headlite: #677a8b;
  --slate_bg:       #798a99;

  --sage_nav:       #d1d8bf;
  --sage_navhov:    #bfc4a4;

  --buff: #b9aa8f;

  /* Warm greys */
  --grey_wash:      #f3f5f5;
  --grey_desc:      #737c86;
  --grey_border:    #b5bbc1;
  --grey_support:   #b4babf;
  --grey_text:      #4c5259;

  /* Links */
  --link:           #0389ff;
  --link_light:     #b2e0ff;
  --visited:        purple;

  /**
   * Type
   */
  --head: MuseoSans-700;
  --body: MuseoSans-500;
  --font_light: MuseoSans-300;


  /**
   * Base variables, adapated from Suit CSS
   * /

  /* Base */
  --base_background:     #dbdbdb;
  --base_color:          var(--grey_text);
  --base_fontfamily:     var(--body);
  --base_fontsize:       16px;
  --base_lineheight:     1.4;
  --base_linkcolor:      var(--link);
  --base_linkcolorhover: var(--link);

  /**
   * Breakpoints, use rework-breakpoints
   */

  /*--small:     20em;  320px */
  /*--small-med: 30em   480px;
  /*--medium:    38em;  608px */

  /*--large:     62em;  992px */
  /*--x-large:   77em; 1232px */

}
