/* ==========================================================================
   Global footer
   ========================================================================== */

/**
 * The footer for the whole of the site
 */

.Footer {
  background-color: var(--blue);
  color: white;
  padding-bottom: 2rem;
}

.Footer-margin {
  margin-left: 2.34375%;
  margin-right: 2.34375%;
  padding: 1rem 0;
}

.Footer-location {
  background-color: var(--slate_bg);
}

.Footer-contact {
  margin-left: 2.34375%;
  margin-right: 2.34375%;
  padding-top: 1rem;
}

.Footer-smallprint {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.Footer-smallprint > *:first-child {
  display: block;
}

.Footer-smallprint > * {
  display: inline-block;
  font-size: 0.8rem;
}

.Footer-smallprint--border::after {
  content: " | ";
  padding: 0 0.5rem;
}

.Footer a {
  color: var(--link_lightest);
}

