/* ==========================================================================
   Nav
   ========================================================================== */

/**
 * Main site navigation.
 * Taken from Brad Frost Responsive Patterns
 * Left Nav Flyout
 * http://bradfrost.github.io/this-is-responsive/patterns.html
 */

.Nav-wrap {
  background-color: white;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  margin: 0 auto;
  max-width: 80em;
  min-width: 18em;
  position: relative;
  transition: all 0.3s ease-out;
}

.Nav-wrap.active {
  left: 16em;
}

.Nav {
  background: var(--blue_tint);
  clear: both;
  overflow: hidden;
}

.js .Nav {
  width: 16em;
  height: 100%;
  position: absolute;
  top: 0;
  left: -16em;
}

.Nav ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid color(black tint(55%));
}

.Nav a,
.Nav-open {
  color: white;
  display: block;
  border-bottom: 1px solid var(--grey_wash);
  font-family: MuseoSans-300;
  letter-spacing: 0.2rem;
  padding: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
}

.Nav-open {
  font-family: MuseoSans-300Italic;
  text-transform: none;
}

@media screen and (min-width: 41.25em) {
  .Nav-open {
    display: none;
  }
}

.Nav a:hover {
  background-color: var(--blue);
  /*color: var(--grey_text);*/
}

.Nav .menu-item-36 a:hover{
    background-color: var(--buff_lite);
}
.Nav .menu-item-37 a:hover,
.Nav .current-menu-item.menu-item-37 a {
    background-color: var(--slate);
}
.Nav .menu-item-38 a:hover,
.Nav .current-menu-item.menu-item-38 a {
    background-color: var(--purple);
}
.Nav .menu-item-39 a:hover,
.Nav .current-menu-item.menu-item-39 a {
    background-color: var(--green);
}
.Nav .menu-item-40 a:hover,
.Nav .current-menu-item.menu-item-40 a {
    background-color: var(--orange);
}

@media screen and (min-width: 41.25em) {
  .js .Nav {
    max-width: none;
    position: static;
    width: auto;
  }

  .Nav-wrap.active {
    left: 0;
  }

  .Nav ul {
    margin: 0;
    border: 0;
    left: -0.6875rem;
    padding-left: 2.34375%;
    position: relative;
  }

  .Nav  li {
    display: inline-block;
    font-size: 0.9rem;
  }

  .Nav a {
    border: 0;
    padding: 0.8rem 0.4rem;
  }

}

@media screen and (min-width: 50em) {
    .Nav  li {
    font-size: 1rem;
  }

  .Nav a {
    padding: 0.8rem 0.7rem;
  }
}
