/* ==========================================================================
   Link light
   ========================================================================== */

/**
 * A lighter, less obtrusive link style for text
 */

.LinkLight,
.LinkLight:hover  {
  color: var(--slate_link);
}

.LinkOpacity:hover {
  opacity: 0.7;
}

.LinkLightest,
.LinkLightest:hover {
  color: var(--link_light);
}
