/* ==========================================================================
   Head Alt
   ========================================================================== */

/**
 * Alternative heading, for supporting headings. Less in your type face.
 */

.HeadAlt {
  background-color: var(--grey_wash);
  color: var(--grey_support);
  font-family: var(--font_light);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.15rem;
  margin-bottom: 0.75rem;
  padding: 0.7rem 2.34375% 0.4rem 2.34375%;
  text-transform: uppercase;
}

.HeadAlt--slim {
  margin-bottom: 0;
}

.HeadAlt--slate {
  background-color: var(--slate_head);
  color: white;
}

.HeadAlt--slated {
  background-color: var(--slate_headlite);
  color: white;
}

.HeadAlt--creek {
  background-color: var(--bluedeep_tint);
  color: white;
}

.HeadAlt--h {
  background-color: transparent;
}

.HeadAlt--h a {
  color: var(--slate_link) !important;
}
