/* ==========================================================================
   Headings
   ========================================================================== */

/**
 * Custom default headings. Just add class.
 */

.Heading {
  font-family: var(--head);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0.3rem;
}

.Heading a:link,
.Heading a:visited,
.Heading a:hover {
  color: var(--slate_link);
}

.Heading--less {
  font-size: 1.3rem;
  line-height: 1;
}

.Heading--minor {
  font-size: 1rem;
}
