// Base styles

@import
  // Libraries
  "../_lib/bourbon/bourbon", // Mixins http://bourbon.io
  "../_lib/normalize"; // http://necolas.github.io/normalize.css/

// Border box
//////////////
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
// IE8 & up
*, *:before, *:after {
  @include box-sizing(border-box);
}


// Atmosphere
//////////////

// Fonts
/////////
// TODO: may not use all of them, tidy up, rename later
.MuseoSans-700 {
  font-family: MuseoSans-700;
  font-weight: normal;
  font-style: normal;
}
.MuseoSans-300 {
  font-family: MuseoSans-300;
  font-weight: normal;
  font-style: normal;
}
.MuseoSans-500 {
  font-family: MuseoSans-500;
  font-weight: normal;
  font-style: normal;
}
.MuseoSans-700Italic {
  font-family: MuseoSans-700Italic;
  font-weight: normal;
  font-style: normal;
}
.MuseoSans-300Italic {
  font-family: MuseoSans-300Italic;
  font-weight: normal;
  font-style: normal;
}
.MuseoSans-500Italic {
  font-family: MuseoSans-500Italic;
  font-weight: normal;
  font-style: normal;
}

// Typography
//////////////
body {
  background-color: white;
  // font-family: $body;
  @extend .MuseoSans-500;
}
h1, h2, h3 {
  // font-family: $head;
  @extend .MuseoSans-300;
  line-height: 1.2;
}

p  { @include rem ('margin',0 0 5px); }

dl, dt, dd {
  margin: 0;
  padding: 0;
}

em {
  @extend .MuseoSans-500Italic;
}

strong {
  @extend .MuseoSans-700;
}

// Responsive media
////////////////////
img, embed, object, video {
  display: block;
  height: auto;
  max-width: 100%;
}
.ie6 img {
  width: 100%;
}

// Helper classes
//////////////////
.cf {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}