// Base styles

@import
  // Libraries
  "../_lib/bourbon/bourbon", // Mixins http://bourbon.io
  "../_lib/normalize"; // http://necolas.github.io/normalize.css/

// Border box
//////////////
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
// IE8 & up
*, *:before, *:after {
  @include box-sizing(border-box);
}


// Atmosphere
//////////////

// Typography
//////////////
body {
  font-family: $body;
}
h1, h2 {
  font-family: $head;
  line-height: 1.2;
}

p  { @include rem ('margin',0 0 5px); }

dl, dt, dd {
  margin: 0;
  padding: 0;
}

// Responsive media
////////////////////
img, embed, object, video {
  display: block;
  height: auto;
  max-width: 100%;
}
.ie6 img {
  width: 100%;
}

// Helper classes
//////////////////
.cf {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}