.ico {
  background: url(/images/icons/sprite.svg) no-repeat;
  display: inline-block;
  @include rem('height',22px);
  line-height: 0;
  vertical-align: bottom;
  @include rem('width',22px);
}
.ico--26 {
  @include rem('height',26px);
  @include rem('width',26px);
}
.ico--36 {
  @include rem('height',36px);
  @include rem('width',36px);
}
.ico--baseline {
  vertical-align: baseline; 
}

// 22px
.ico--article  { background-position:    0   0; }
.ico--event    { background-position:  -22px 0; }
.ico--comment  { background-position:  -44px 0; }
.ico--review   { background-position:  -66px 0; }
.ico--business { background-position:  -88px 0; }
.ico--voucher  { background-position: -110px 0; }
.ico--paper    { background-position: -132px 0; }
.ico--gplus    { background-position: -154px 0; }
.ico--twitter  { background-position: -176px 0; }
.ico--facebook { background-position: -198px 0; }

.ico--arrow-left    { background-position:    0   -22px; }
.ico--arrow-right   { background-position:  -22px -22px; }
.ico--arrows-double { background-position:  -44px -22px; }
.ico--star-full     { background-position:  -66px -22px; }
.ico--star-empty    { background-position:  -88px -22px; }
.ico--star-half     { background-position: -110px -22px; }
.ico--phone         { background-position: -132px -22px; }
.ico--report        { background-position: -154px -22px; }

.ico--search    { background-position:    0   -44px; }
.ico--create-wo { background-position:  -22px -44px; }
.ico--signin    { background-position:  -44px -44px; }
.ico--close     { background-position:  -66px -44px; }
.ico--speech    { background-position:  -88px -44px; }
.ico--replyto   { background-position: -110px -44px; }

// 36px
.ico--like           { background-position:    0   -66px; }
.ico--share          { background-position:  -36px -66px; }
.ico--comment-bubble { background-position:  -72px -66px; }
.ico--review-bus     { background-position: -108px -66px; }
.ico--like-bus       { background-position: -144px -66px; }
.ico--share-bus      { background-position: -180px -66px; }
.ico--view-bus       { background-position: -216px -66px; }
.ico--print-bus      { background-position: -252px -66px; }
.ico--unlock-bus     { background-position: -288px -66px; }

// 26px
.ico--menu      { background-position:    0   -102px; }
.ico--create    { background-position:  -26px -102px; }
.ico--photo     { background-position:  -52px -102px; }
.ico--calendar  { background-position:  -78px -102px; }

.header__brand {
  background-color: $blue;
  @extend .cf;
  @include rem ('padding',11px 9px);
}
.header__logo {
  float: left;
  width: 79%;
}
.header__menu {
  float: right;
}
.header__contact {
  background-color: $sage_21;
  @include rem ('padding',11px 9px);
}
.media {
  @include rem ('margin-right',10px);
}
.media, .media__body {
  overflow:hidden; 
}
.ie6 .media, .ie6 .media__body {
  overflow:visible;
  zoom: 1;
}
.media__img {
  float: left; 
  @include rem ('margin-right',10px);
}
.media__img img {
  display: block;
}
.media__img--extend {
  float: right; 
  @include rem ('margin-left',10px);
}