// Shame. Put shameful CSS in here. Refactor later.

.wrap {
  margin: 0 auto;
  @include rem('padding-top',20px);
  width: 90%;
}

// Overriding some horrible admin bar CSS. Track it down, remove it.
html { 
  margin-top: 0 !important;
}