// Color Variables
///////////////////

// Brand colors
$blue:     #22224c;
$orange:   #cb4b16;
// $slate_80: #31495f;
$slate_73: #455d72;
$slate_69: #53687c;

$sage_30:  #bfc4a4; 
$sage_21:  #d1d8bf;

// Warm greys
$k94:      #141619;
$k89:      #24272c;
$k76:      #4c5259;
$k61:      #737c86;
$k50:      #8f97a0;
$k34:      #b5bbc1;

// Additional colors
$link:    blue;
$visited: purple;

// Type variables
//////////////////
// TODO: add nice fonts, oh yes
$head: sans-serif;
$body: sans-serif;

// Breakpoints
///////////////

$small:   20em; //  320px
$medium:  36em; //  576px
$large:   62em; //  992px 
$x-large: 77em; // 1232px

 