// Color Variables
///////////////////

// Brand colors

// Grey grey
$k40: #999999;

// Additional colors
$link:    blue;
$visited: purple;

// Type variables
//////////////////
// TODO: add nice fonts, oh yes
$head: sans-serif;
$body: sans-serif;

// Breakpoints
///////////////

$small:   20em; //  320px
$medium:  36em; //  576px
$large:   62em; //  992px 
$x-large: 77em; // 1232px

 